.shop-item{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 50px;
    margin-bottom: 115px;
    position: absolute;
   
}
.product{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    height: 500px;
    overflow-y: scroll;
}
.Sidebar{
    width: 100%;
    margin-left: 40px;
    background-color: rgba(255, 153, 0, 0.3);
   padding-left: 15px;

}
